* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
:root{
   --black-1:black;
    --black-2:#d6d1d1;
    --black-3:#555;
    --black-1-x:white;
    --place-holder:rgb(172, 161, 161);  /* input box color*/
     /* color: aliceblue;
    -black-1:rgb(255, 255, 255);
    --black-2:#858282;
    --black-3:#a8a8a8;
    --black-1-x:rgb(75, 70, 70);*/
} 
.dark-theme{
    color: rgb(255, 255, 255);
    --black-1:rgb(255, 255, 255);
    --black-2:#807c7c;
    --black-3:#a8a8a8;
    --black-1-x:rgb(75, 70, 70);
    --place-holder:rgb(92, 85, 85);
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(130deg, rgb(51, 47, 170), rgb(46, 163, 174));
  padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 545px;
    background: var(--black-1-x);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: var(--black-1);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#dark_mode{
    margin-left: auto;
}
.todo-app img{
    height:  30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black-2);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    color:var(--black-1);
    min-width: 150px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}
input::placeholder {
    color: var(--place-holder); /* Change this to your desired color */
    /* opacity: 1;  Ensure the color is fully opaque */
  }
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945 ;
    color: var(--black-1);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    height: 40px;
    margin-bottom:5px ;
    background-color: rgba(205, 224, 204, 0.371); 
    border-radius: 50px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%; /* Move to the vertical center */
    left: 8px; /* Align with left padding */
    transform: translateY(-50%); /* Adjust to center vertically */
    
}
ul li.checked{
    color: var(--black-3);
    text-decoration: line-through;
    background-color: rgba(103, 254, 97, 0.371); 
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--black-3);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease; /* Add transition for smooth effect */

}
ul li span:hover{
    background: var(--black-2);
    transform: scale(0.8);    /* to reduce backgrond hover blur size    */
}


